<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eladoktarizo.login_act">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_me"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PilihanLogin"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".SignupActivity">
        </activity>
        <activity android:name=".editdataanak" />
        <activity
            android:name=".MenuGuruActivity"
            android:label="@string/title_activity_menu_guru"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonitoringActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DetailDataanak"></activity>
        <activity
            android:name=".LaporanHarianActivity"></activity>
        <activity
            android:name=".TambahDataAnak"></activity>
        <activity
            android:name=".Login2Activity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>